@model List<AutoWebApp.Entities.Auto>

@{
    ViewData["Title"] = "Auto Erstellen";
}

<h1>New Auto</h1>

<form action="/Auto/SaveAuto" method="post">
    <table>
        <tr>
            <td>
                Marke
            </td>
            <td>
                <input type="text" id="Marke" name="Marke"/>
            </td>
        </tr>
        <tr>
            <td>
                Modell
            </td>
            <td>
                <input type="text" id="Modell" name="Modell"/>
            </td>
        </tr>
        <tr>
            <td>
                Preis
                </td>
            <td>
                <input type="number" id="Preis" name="Preis"/>
            </td>
        </tr>    
        <tr>
            <td>
                <a class="btn btn-danger" href="/Auto/">Cancel</a> 
            </td>
            <td>
                <button type="submit" class="btn btn-success">Save</button> 
            </td>
        </tr>
    </table>
</form>